/* *****custom variables***** */
:root {
  /* ***colors*** */
  /* **primary** */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* **Neutral** */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* ***fonts*** */
  --headings-font-family: "DM Serif Display", serif;
  --body-font-family: "Karla", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: var(--very-dark-violet);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--body-font-family);
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a:link,
a:active {
  color: var(--very-dark-violet);
  text-decoration: none;
}

.heading {
  font-family: var(--headings-font-family);
}

a.btn-transparent {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.2s;
}

a.btn-transparent:hover {
  background-color: #fff;
  color: var(--dark-violet);
}

/* *****Header***** */
header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

nav.main-nav {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

ul.nav-links {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: -100%;
  text-align: center;
  width: 100%;
  background: url("./images/bg-pattern-mobile-nav.svg") bottom center no-repeat,
    var(--very-dark-violet);
  min-height: 100vh;
  transition: 300ms ease-in;
}

ul.nav-links li {
  padding: 1rem 0;
}

ul.nav-links li:first-child {
  padding-top: 2rem;
}

ul.nav-links li a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

ul.nav-links .plans {
  border: 2px solid #fff;
  padding: 0.5rem 6rem;
}

ul.nav-links .plans:active {
  background-color: #fff;
  color: var(--very-dark-violet);
}

.hamburger-icon {
  border: 1px solid var(--very-dark-violet);
  color: var(--very-dark-violet);
  font-size: 1rem;
  padding: 0.3rem;
}

.hamburger-icon:hover {
  cursor: pointer;
}

ul.nav-links.active {
  display: block;
  transform: translateX(100%);
}

header .header-img {
  background-color: var(--dark-violet);
  height: auto;
  margin-top: 50px;
  width: 100%;
}

header .intro-bg-img-left,
header .intro-bg-img-right {
  display: none;
}

.headings {
  background: url("./images/bg-pattern-intro-right-mobile.svg") 100% 220%
      no-repeat,
    url("./images/bg-pattern-intro-left-mobile.svg") left top no-repeat,
    var(--dark-violet);
  color: #fff;
  padding: 6rem 1.5rem;
  text-align: center;
  /*overflow-y: auto;*/
}

.headings h1.heading {
  font-size: 2.8rem;
  line-height: 1.1;
  padding-bottom: 1.5rem;
}

.subheading {
  font-size: 1.1rem;
  line-height: 1.5;
  padding-bottom: 2.5rem;
}

/* *****Main***** */
main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  padding: 8rem 1.5rem 6rem;
  text-align: center;
}

.features-section-heading {
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding: 2rem 0 2.5rem;
  position: relative;
}

.features-section-heading::before {
  content: "";
  height: 1px;
  background-color: var(--dark-violet);
  width: 40%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.feature {
  padding: 1.5rem 0;
}

.feature .feature-img {
  padding-bottom: 1rem;
  width: 20%;
}

.feature-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.feature-details {
  color: var(--dark-grayish-violet);
}

.how-we-work {
  background: url("./images/bg-pattern-how-we-work-mobile.svg") top right
      no-repeat,
    var(--dark-violet);
  color: #fff;
  margin: 0 auto;
  padding: 4.5rem 1.5rem 3rem;
  text-align: center;
  width: 90%;
}

.how-we-work .heading {
  font-size: 2.5rem;
  line-height: 1.2;
  padding-bottom: 2rem;
}

/* *****Footer***** */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-media {
  background: url("./images/bg-pattern-footer-mobile.svg") no-repeat,
    var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 3rem;
  width: 100%;
}

footer .social-media .logo {
  padding-bottom: 2rem;
}

footer .social-media .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .social-media .social-media-link {
  color: var(--dark-grayish-violet);
  font-size: 1.5rem;
  padding-left: 1rem;
  transition: all 0.2s;
}

footer .social-media .social-media-link:hover {
  color: var(--dark-violet);
  cursor: pointer;
}

footer .social-media .social-media-link:first-child {
  padding-left: 0;
}

footer hr {
  color: var(--very-light-gray);
  height: 1px;
  width: 90%;
}

footer nav.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 4rem;
  text-align: center;
  width: 100%;
}

footer nav.footer-nav .footer-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav.footer-nav h4 {
  color: var(--dark-grayish-violet);
  letter-spacing: 3px;
  padding: 2rem 0 1.5rem;
  text-transform: uppercase;
}

nav.footer-nav p {
  color: var(--very-dark-violet);
  font-weight: 700;
  letter-spacing: 3px;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

nav.footer-nav .nav-link {
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
  transition: all 0.2s;
}

nav.footer-nav .nav-link:hover {
  border-bottom: 1px solid var(--very-dark-violet);
}

/*  *****Media queries***** */
/* ***tablets*** */
@media screen and (min-width: 768px) {
  /* ***nav*** */
  nav.main-nav {
    padding: 1rem 10%;
  }
  ul.nav-links {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    min-height: unset;
    width: 50%;
  }

  ul.nav-links li {
    padding: 0;
  }

  ul.nav-links li:first-child {
    padding-top: 0;
  }

  ul.nav-links li a {
    color: var(--dark-grayish-violet);
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  ul.nav-links li a:not(.plans):hover {
    color: var(--very-dark-violet);
    transition: all 0.2s;
  }

  ul.nav-links .plans {
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
    padding: 0.3rem 1rem;
  }

  ul.nav-links .plans:hover {
    color: #fff;
    background-color: var(--very-dark-violet);
  }

  .hamburger-icon {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  /* ***nav*** */
  nav.main-nav {
    padding: 1rem 10%;
  }
  ul.nav-links {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    min-height: unset;
    width: 50%;
  }

  ul.nav-links li {
    padding: 0;
  }

  ul.nav-links li:first-child {
    padding-top: 0;
  }

  ul.nav-links li a {
    color: var(--dark-grayish-violet);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  ul.nav-links li a:not(.plans):hover {
    color: var(--very-dark-violet);
    transition: all 0.2s;
  }

  ul.nav-links .plans {
    border: 2px solid var(--very-dark-violet);
    color: var(--very-dark-violet);
    padding: 0.3rem 1rem;
  }

  ul.nav-links .plans:hover {
    color: #fff;
    background-color: var(--very-dark-violet);
  }

  .hamburger-icon {
    display: none;
  }

  header .header-img {
    height: auto;
    width: 30%;
    position: absolute;
    top: 4.1rem;
    right: 10%;
    z-index: 1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  /* ***headings*** */
  .headings {
    background: var(--dark-violet);
    color: #fff;
    padding: 8rem 10%;
    position: relative;
    text-align: left;
  }

  .heading,
  .subheading {
    width: 50%;
  }

  .headings h1.heading {
    padding: 2rem 0 1.5rem;
    position: relative;
  }

  .headings h1.heading:before {
    content: "";
    height: 1px;
    background-color: #fff;
    width: 144px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .subheading {
    font-size: 1.1rem;
    line-height: 1.5;
    padding-bottom: 2.5rem;
  }

  header .intro-bg-img-left,
  header .intro-bg-img-right {
    display: block;
    position: absolute;
  }

  header .intro-bg-img-left {
    bottom: -60%;
    left: 0;
    width: 12%;
  }

  header .intro-bg-img-right {
    right: 0;
    top: 0;
    width: 25%;
    z-index: 2;
  }

  /* ***features****/
  .features {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15rem 10% 6rem;
    text-align: left;
  }

  .features-section-heading {
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: 2rem 0 2.5rem;
    position: relative;
    width: 100%;
  }

  .features-section-heading::before {
    width: 144px;
    left: 0;
    right: 100%;
    transform: translateX(0%);
  }

  .feature {
    width: 32%;
  }

  /* ***how we work*** */
  .how-we-work {
    background: url("./images/bg-pattern-how-we-work-desktop.svg") center right
        no-repeat,
      var(--dark-violet);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 5%;
    text-align: left;
    width: 80%;
  }

  .how-we-work .heading {
    width: 40%;
    padding: 0;
  }

  /* *****footer***** */
  footer {
    background: url("./images/bg-pattern-footer-desktop.svg") top left no-repeat,
      var(--very-light-gray);
  }

  footer .social-media {
    background: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10% 1rem;
    width: 100%;
  }

  footer .social-media .logo {
    padding-bottom: 0;
  }

  footer .social-media .social-media-links {
    justify-content: flex-end;
  }

  footer hr {
    width: 80%;
  }

  footer nav.footer-nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 4rem;
    padding: 0 10%;
    text-align: center;
  }

  footer nav.footer-nav .footer-nav-item {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10% 0 0;
  }
}
